[Unit]
Description=Senior Radio web app
After=network.target

[Service]
User=botuser
WorkingDirectory=/home/botuser/seniori
ExecStart=/home/botuser/seniori/venv/bin/gunicorn -w 2 -b 127.0.0.1:5051 app:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
